extends layout
block content
    h1 Home Page
    p Welcome to Jordan's home page!
    a(href='/about') About
    form(action='/submit', method='POST')
        input(type='text', name='username', placeholder='Enter your name')
        button(type='submit') Submit